*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
article{    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

}

section{
    display: flex;
    width: 530px;
    justify-content: space-between;

}

.container-one{
    width: 230px;
    color: white;
    font-weight: 600;
    padding: 15px 15px 110px 15px;
}
.contenedor h3{
    margin: 10px 0px;
}

.first-container{
    background-color: #008080;
}

.second-container{
    background-color: #329999;
    
}

.contenedorDiv{
    font-weight: 600;
    background-color: #FFFF99;
    color: #181700;
    padding: 25px 5px 25px 5px;
    position: absolute;
    margin-left: 10px;
    width: 200px;
    top: 400px;

}.container-two p{
    font-weight: 600;
    text-align: center;
   
}
.third-container{
    margin-left: 10px;
    color: #000606;
    background-color: #80C0BE;
    height: 392px;
    width: 260px;
}
.fourth-container{
    margin-left: 10px;
    color: #000606;
    background-color: #B2D8D9;
    height: 392px;
    width: 260px;
}
.contenedorDiv2{
    font-weight: 600;
    background-color: #FFFF99;
    color: #181700;
    padding: 15px 5px 15px 5px;
    position: absolute;
    margin-left: 23px;
    width: 200px;
    top: 400px;

}
.color{
    color:#008080;
}